<div class="main-box">
  <div class="devise-main-box2">
    <div class="devise-contents-box">
      <div class="registration-input-box" style="">
      <h2>プロフィール編集</h2>
        <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= form_for(@user) do |f| %>
          <%= devise_error_messages! %>
          <div class="username-box">
            <div class="field">
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "姓", class: "devise-form-control devise-form-style" %>
            </div>
            <div class="field">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "名", class: "devise-form-control devise-form-style", style: "margin-left: 5px;" %>
            </div>
          </div>
          <div class="nickname-box">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, autofocus: true, :placeholder => "ニックネーム", class: "devise-form-control devise-form-style" %>
          </div>
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-form-control devise-form-style", placeholder: "totte@gmail.com" %>
            </div>

            <div class="field" style="padding-top: 20px;">
            <%= f.label :パスワード変更 %><br/>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "devise-form-control devise-form-style", placeholder: "現在のパスワード" %>
            </div>

            <div class="field">
              <% if @minimum_password_length %>
              <em><%#= @minimum_password_length %></em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "devise-form-control devise-form-style", placeholder: "新しいパスワード(" + @minimum_password_length.to_s + "ケタ以上)" %>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "devise-form-control devise-form-style", placeholder: "パスワード確認" %>
            </div>

            <div class="actions">
              <%= link_to :back, class: "ui secondary floated inverted tiny button" do %>
              <p>戻る</p>
              <% end %>
              <button type="submit" class="ui blue right floated button">変更を保存</button>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
