<div class="main-box top-bg">
  <div class="devise-main-box">
    <div class="devise-contents-box">
      <p align="center"><font size="6"><b>Welcome！</b></font></p>
      <div align="center"><font size="3"><b>totteにようこそ!</b></font></div>
      <div align="center">始める前にあなたのプロフィールを少し教えてください</div><br>
      <div class="registration-input-box" style="">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
        <div class="username-box">
          <div class="field">
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => "姓", class: "devise-form-control devise-form-style" %>
          </div>
          <div class="field">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder => "名", class: "devise-form-control devise-form-style", style: "margin-left: 5px;" %>
          </div>
        </div>
        <div class="nickname-box">
          <%= f.label :nickname, "ニックネーム" %>
          <%= f.text_field :nickname, autofocus: true, :placeholder => "ニックネーム", class: "devise-form-control devise-form-style" %>
        </div>
          <font color="black">誕生日</font>
          <div class="birth-box" style="color:black;">
            <div class="field">
              <% @this_year = Date.today.year.to_i %>
              <% @old_year = @this_year - 80 %>
              <%= f.select :birth_year, (@old_year..@this_year), selected: @this_year, class: "select-form" %>年
            </div>
            <div class="field">
              <%= f.select :birth_month, (1..12), selected: Date.today.month, class: "" %>月
            </div>
            <div class="field">
              <%= f.select :birth_day, (1..31), selected: Date.today.day, class: "" %>日
            </div>
          </div>

          <div class="field">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-form-control devise-form-style", placeholder: "totte@gmail.com" %>
          </div>

          <div class="field">
            <% if @minimum_password_length %>
            <em><%#= @minimum_password_length %></em>
            <% end %>
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autocomplete: "off", class: "devise-form-control devise-form-style", placeholder: "パスワード(" + @minimum_password_length.to_s + "ケタ以上)" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "devise-form-control devise-form-style", placeholder: "パスワード確認" %>
          </div>

          <div class="actions">
            <%#= f.submit "始める", class: "devise-sign-up-button" %>
            <button type="submit" class="ui blue right floated fluid button">はじめる</button>
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
