<title>アルバム編集</title>

<div class="main-box">
	<div class="main-visual2">
	</div>
	<%= render 'layouts/sub_header' %>
	<div class="main-contents-box">
		<h2>Item List</h2><div>選択中の写真<%= @count %>/<%= @a_i_count %>枚</div>
		<% unless @a_i_count == 0 %>
		  <button class="ui inverted violet button disabled">変更内容を保存</button>
		<% else %>
		  <%= link_to user_albums_path(current_user, @album), method: :patch do %>
			  <button class="ui inverted violet button">変更を保存する</button>
		  <% end %>
		<% end %>
		<div style="display:flex; flex-direction:row; justify-content:flex-start; flex-wrap: wrap;">
			<% @album_items.each do |album_item| %>
				<% if @arrey[@i] == album_item.photo_id %>
					<!-- 選択中の画像の表示 -->
					<%= @arrey[@i] %>
					<% @i += 1 %>
					<div class="selected-filter">
						<%= attachment_image_tag photo, :image, style: "width: 100%; height: 100%"; %>
						<div class="filter-overlay">
							<%= link_to del_my_album_item_path(current_album, photo), method: :delete, class: "overlay-trashbox-icon" do %>
								<i class="far fa-trash-alt fa-2x" style="color: rgba(255, 255, 255, 0.7);"></i>
							<% end %>
						</div>
					</div>
				<% next %>
				<% end %>
					<%= link_to add_my_album_item_path(current_album, photo), method: :post do %>
						<div><%= attachment_image_tag photo, :image, class: "your-photos-mini" %></div>
					<% end %>
			<% end %>
		</div>
	</div>
</div>

<script>

$(function() {
	$('.img').hover(
		function() {
			$(this).find($('.overlay-fillter')).fadeIn(200);
			//マウスカーソルが重なった時の処理
		},
		function() {
		//マウスカーソルが離れた時の処理
			$(this).find($('.overlay-fillter')).fadeOut(200);
		}
	);
});

</script>