<title>current_userアルバム投稿アルバム一覧</title>
<div class="main-box">
	<%= render 'layouts/user_main_visual', user: @user%>
	<%= render 'layouts/sub_header', photo: @photo%>
	<h2>Your Albums</h2><%= @albums_cnt %>
	<div class="photo-contents-box">
<!-- each start -->
	<% if @albums.blank?%>
	<p style="padding:100px; font-size:20px; color:gray;" >No album</p>
	<% else %>
		<% @albums.each do |album| %>
		<% if album.album_items.blank? %>
			<% album.destroy %>
			<% next %>
		<% end %>
			<div class="album-box">
				<div class="album-image">
					<%= link_to user_album_path(album.user, album) do %>
						<div class="album-items-box">
							<% album.album_items.each do |album_item| %>
								<%= attachment_image_tag album_item.photo, :image, style: "width:350px; height:250px;", class: "album-items" %>
							<% end %>
						</div>
					<% end %>
					<!-- <div class="overlay-fillter-radius-none"> -->
						<div class="post-user-box">
							<div class="photo-box-user-icon">
								<%#= link_to photo_path(@user) do %>
								<%= attachment_image_tag album.user, :thumbnail,:fill,fallback: 'user_preset_image.png', :size => "40x40", class: "photo-box-user-icon" %>
								<%# end %>
							</div>
						</div>
					<!-- </div> -->
				</div>
				<div class="album-summ" style="display: flex;">
					<div class="">
						<p><%= album.introduction %>テスト</p>
						<p><i class="fas fa-heart"></i><%= album.like_count %></p>
					</div>
					<%= link_to user_album_path(current_user, album), data: { confirm: "削除します。よろしいですか？"}, method: :delete do %>
						<i class="far fa-trash-alt fa-2x" style="color: rgba(0, 0, 0, 0.7);"></i>
					<% end %>
				</div>
			</div>
		<% end %>
<!-- each end -->
	<% end %><!-- if end -->



	</div><!-- content-box end -->
</div>
<!-- ------------------------------------- -->
<script>
$(function() {
	$('.img').hover(
		function() {
			$(this).find($('.overlay-fillter')).fadeIn(200);
			//マウスカーソルが重なった時の処理
		},
		function() {
		//マウスカーソルが離れた時の処理
			$(this).find($('.overlay-fillter')).fadeOut(200);
		}
	);
});


$('.ui.sticky')
  .sticky({
    context: '#example1'
  })
;

</script>

</div>