<div class="main-box">
  <div class="devise-main-box">
  <div style="font-size:20px;" align="center">管理者ログイン画面</div>
    <div class="devise-contents-box">
      <p align="center"><font size="6"><b>Login</b></font></p>
      <div class="registration-input-box" style="">
        <div class="ui form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password, "パスワード" %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.label :remember_me, "ログインを保持" %>
                <%= f.check_box :remember_me %>
              </div>
            <% end %>

            <div class="actions">
              <button type="submit" class="ui blue fluid button">ログイン</button>
            </div>
          <% end %>
        </div>
      </div>
        <%= render "admins/shared/links" %>
      </div>
    </div>
  </div>
</div>

























