<div class="">
	<label>メーカー:</label>
	<span class="margins"><%= @make %></span><br>
	<label>機種名:</label>
	<span class="margins"><%= @model %></span><br>
	<label>ISO感度:</label>
	<span class="margins"><%= @iso %></span><br>
	<label>F値:</label>
	<span class="margins"><%= @f_number %></span><br>
	<label>撮影日:</label>
	<span class="margins"><%= @shooting%></span><br>
	<label>フラッシュ:</label>
	<span class="margins"><%= @camflash %></span><br>
	<label>写真サイズ:</label>
	<span class="margins"><%= @photo_size %></span><br>
	<label>レンズ:</label>
	<span class="margins"><%= @lens_spec %></span><br>
	<label>焦点距離:</label>
	<span class="margins"><%= @focal_length %></span><br>
	<label>シーンモード:</label>
	<span class="margins"><%= @scene_mode %></span><br>
</div>
