<div class="">
	<p>EXIF Infomation</p>
	<label>メーカー:</label>
	<p><%= @make %></p>
	<label>機種名:</label>
	<p><%= @model %></p>
	<label>ISO感度:</label>
	<p><%= @iso %></p>
	<label>F値:</label>
	<p><%= @f_number %></p>
	<label>撮影日:</label>
	<p><%= @shooting%></p>
	<label>フラッシュ:</label>
	<p><%= @camflash %></p>
	<label>写真サイズ:</label>
	<p><%= @photo_size %></p>
	<label>レンズ:</label>
	<p><%= @lens_spec %></p>
	<label>焦点距離:</label>
	<p><%= @focal_length %></p>
	<label>シーンモード:</label>
	<p><%= @scene_mode %></p>
</div>
