<div class="first-contact-box">
		<img src="/album-header13.jpg" alt="" style="width: 100%;
													width: 100%;
    												height: 700px;
    												object-fit: cover;">
			<div class="overlay-box">
				<div class="lets-massage-box">
					<p align="center"><font size="7">Hallo, totte!</font></p>
					<div align="center"><font size="5">さあ、はじめよう</font></div>
					<div class="lets-massage">
							<p style="font-size:15px; text-align:center;">こんにちは <%= current_user.nickname %>さん</p>
							<p style="font-size:15px;">
							はじめまして。<br>
							totteにようこそ！<br>
							世界中の人が <%= current_user.nickname %>さんの撮った作品を心待ちにしているでしょう。<br>
							<%= current_user.nickname %>さんの何気ない１枚も、素敵な作品の１枚です。<br>
							下のボタンからまずは作品をアップロードしてみましょう。<br>
						</p>
					</div>
					<div style="text-align: center;">
							<button id="post-photo-modal" class="ui inverted purple button">写真を投稿する</button>
					</div>
				</div>
			</div>
		</div>


		<div id="modal" class="ui mini modal" style="padding-bottom:10px;">
			<div class="header" align="center">写真投稿</div>
				<i class="close icon"></i>
				<div class="content">
			  			<%= form_for photo, url: photos_path do |f| %>
						<%= f.attachment_field :image, style: "" %>
						<div class="ui form" style="margin: 10px auto;">
							<%= f.label :title, "写真のタイトル" %>
							<%= f.text_field :title, placeholder: "タイトル", class: "field"%>
						</div>
							<button type="submit" class="ui purple mini button">投稿</button>
						<% end %>
				<div class="actions">
					<button class="ui deny right floated button">戻る</button>
				</div>
		  	</div>
		</div>


<script>

	$('#post-photo-modal').click(function() {
		  $('#modal')
  			.modal('show');
	});

</script>