<title>MyPhotos#show</title>
<div class="main-box">
	<div class="photo-background">
		<div class="">
			<% if @photo.image == nil %>
				<div class="showpage-photo">ImageFile broken</div>
			<% else %>
				<%= attachment_image_tag @photo, :image, class: "showpage-photo"%>
			<% end %>
		</div>
		<% if @photo_cnt > 1 %>
			<% if @photo.pre %>
				<%= link_to user_photo_path(@user, @photo.pre) do %>
					<div class="photo-slide-left">
						<
					</div>
				<% end %>
			<% end %>
			<% if @photo.next %>
				<%= link_to user_photo_path(@user, @photo.next) do %>
					<div class="photo-slide-right">
						>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="photos-index">

	</div>
	<div class="user-details">
		<div class="">
			<%= link_to user_path(@user) do %>
				<%= attachment_image_tag @user, :thumbnail, fallback: 'user_preset_image.png', class: "user-icon-circle" %>
			<% end %>
		</div>
		<div class="user-info-box">
			<h2><%= @user.nickname %></h2>
			<h3 class="user-name">
				<p><%= @user.first_name %> <%= @user.last_name %></p>
			</h3>
			<div class="user-join-year">
				<font color="gray">Joined in <%= @user.created_at.strftime('%Y') %></font>
			</div>
		</div>
		<div class="table-box">
			<table>
				<thead>
					<tr>
						<th>投稿枚数</th>
						<th>アルバム投稿数</th>
						<th>いいね</th>
						<th>フォロー数</th>
						<th>フォロワー数</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @photo_cnt %></td>
						<td><%= @user.albums.count %></td>
						<td><%= @user.notices.count %></td>
						<td><%= @user.follow_count %></td>
						<td><%= @user.followers_count %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="photo-details">
		<div class="comments-box">
			<div class="ui comments">
				<!--- コメント投稿フォーム ---->
				<% if @user == current_user %>
				<% else %>
					<div class="ui reply tiny form">
					  <%= form_with model: @post_comment, url: photo_post_comments_path(@photo), id: "ajax" do |f| %>
					  <%= f.text_area :comment, placeholder: "コメント100文字以内", style: "" %>
						<button data-remote="true" type="submit" class="ui purple labeled icon mini right floated button" style="margin-top:5px;"><i class="icon edit"></i> 送信 </button>
						<% end %>
					</div>
				<% end %>
				<!-- コメント投稿フォームend -->
				<div class="ui dividing header" style="margin-top:10px;">コメント
					<% if @photo.post_comments.count > 0 %>
						<%= @photo.post_comments.count %>件
					<% end %>
				</div>
				<!-- 以下Ajax -->
				<div id ="ajax-comments" class="comments-scroll">
					<%= render 'photos/comments', user: @user, photo: @photo %>
				</div>
				<!-- Ajax end -->
			</div>
		</div>
		<div>
			<div align="center" style="margin: 15px 0 0 10px; font-size:30px;">EXIF</div>
				<font size="1">EXIFって何？</font>
			<div class="exif-contents-box">
				<div class="">
					<label><b>メーカー:</b></label>
					<span class="margins"><%= @make %></span><br>
					<label><b>機種名:</b></label>
					<span class="margins"><%= @model %></span><br>
					<label><b>レンズ:</b></label>
					<span class="margins"><%= @lens_spec %></span><br>
					<label><b>レンズメーカー:</b></label>
					<span class="margins"><%= @lens_make %></span><br>
					<label><b>レンズモデル:</b></label>
					<span class="margins"><%= @lens_model %></span><br>
					<label><b>ISO感度:</b></label>
					<span class="margins"><%= @iso %></span><br>
					<label><b>F値:</b></label>
					<span class="margins"><%= @f_number %></span><br>
					<label><b>撮影日:</b></label>
					<span class="margins"><%= @shooting%></span><br>
					<label><b>フラッシュ:</b></label>
					<span class="margins"><%= @camflash %></span><br>
					<label><b>写真サイズ:</b></label>
					<span class="margins"><%= @photo_size %></span><br>
					
					<label><b>シーンモード:</b></label>
					<span class="margins"><%= @scene_mode %></span><br>
				</div>
			</div>
		</div>

		<div class="mapping-box" style="margin-top:15px;">
			<div class="map-box">
				<% unless @lat.blank? && @lng.blank? %>
					<iframe src="https://maps.google.co.jp/maps?output=embed&q=原宿駅&q=<%= @lat %>,<%= @lng %>&hl=ja" style="width: 100%; height: 100%; border: none;border-radius:5px;"></iframe>
				<% else %>
					<div class="" style="text-align:center:width:100%;height:100%;background-color:gray;">
						<div style="text-align:center; padding-top:200px; font-size:30px;">sorry, no GPS data</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>



