<title>MyPhotos#show</title>
<div class="main-box">
	<div class="photo-background">
		<div class="">
			<% if @photo.image == nil %>
				<div class="showpage-photo">ImageFile broken</div>
			<% else %>
				<%= attachment_image_tag @photo, :image, class: "showpage-photo"%>
			<% end %>
		</div>
		<% if @photo_cnt > 1 %>

			<% unless @a == 1 %>
				<%= link_to photo_pre_path(@user, @photo) do %>
					<div class="photo-slide-left">
						<
					</div>
				<% end %>
			<% end %>

			<% unless @a == 2 %>
				<%= link_to photo_next_path(@user, @photo) do %>
					<div class="photo-slide-right">
						>
					</div>
				<% end %>
			<% end %>

		<% end %>

	</div>
	<div class="photos-index">
		<div class="photo-block">
			img1
		</div>
		<div class="photo-block">
			img2
		</div>
		<div class="photo-block">
			img3
		</div>
	</div>
	<div class="user-details">
		<p>User Infomation</p>
		<div class="">
			<%= attachment_image_tag current_user, :thumbnail,:fill,fallback: 'user_preset_image.png', class: "user-icon-circle" %>
		</div>
		<div class="user-info-box">
			<h2 class="user-nickname">
				<%= @user.nickname %>
			</h2>
			<h3 class="user-name">
				<p><%= @user.first_name %> <%= @user.last_name %></p>
			</h3>
			<div class="user-join-year">
				<font color="gray">Joined in <%= @user.created_at.strftime('%Y') %></font>
			</div>
		</div>
		<div class="table-box">
			<table>
				<thead>
					<tr>
						<th>写真投稿数</th>
						<th>イベント投稿数</th>
						<th>いいね</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @photo_cnt %></td>
						<td>100</td>
						<td>100</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="photo-details">
			Photo Infomation
		<div class="camera-image">
			CameraImage(B.Ground none)
			<div class="camera-names">
				<p><%= @make %></p>
				<p><%= @model %></p>
			</div>
		</div>
		<div class="exif-contents-box">
			EXIF Infomation
			<div>メーカー:</div>
			<p><%= @make %></p>
			<div>機種名:</div>
			<p><%= @model %></p>
			<div>F値:</div>
			<p><%= @f_number %></p>
			<p>etc...</p>

		</div>
		<div class="mapping-box">
			Google Map
			<div class="map-box">
				<iframe src="https://maps.google.co.jp/maps?output=embed&q=原宿駅&q=35.670821,139.702726&hl=ja" style="width: 100%; height: 100%; border: none;border-radius:5px;"></iframe>
			</div>
		</div>
	</div>
</div>



