<title>MyPhotos#show</title>
<div class="main-box">
	<div class="photo-background">
		<div class="">
			<% if @photo.image == nil %>
				<div class="showpage-photo">ImageFile broken</div>
			<% else %>
				<%= attachment_image_tag @photo, :image, :fill, 900, 650, class: "showpage-photo"%>
			<% end %>
		</div>
		<% if @photo_cnt > 1 %>
			<% if @photo.pre %>
				<%= link_to user_photo_path(@user, @photo.pre) do %>
					<div class="photo-slide-left">
						<
					</div>
				<% end %>
			<% end %>
			<% if @photo.next %>
				<%= link_to user_photo_path(@user, @photo.next) do %>
					<div class="photo-slide-right">
						>
					</div>
				<% end %>
			<% end %>
		<% end %>

		<div class="photos-show-sns-icons-box">
			<a title="facebookでシェア" style="color:#305097;" href="https://www.facebook.com/share.php?url=<%= request.url %>&text=写真でつながるSNS totte" rel="nofollow" target="_blank">
				<i class="fab fa-facebook-square fa-3x"></i>
			</a>

			<a title="twitterでシェア" style="color:#00aced;" href="https://twitter.com/share?url=<%= request.url %>&text=『<%= @photo.title %>』写真で繋がるSNS totte" rel="nofollow" target="_blank">
				<i class="fab fa-twitter-square fa-3x"></i>
			</a>

			<a title="LINEでシェア" style="color:#5ae628;" href="http://line.me/R/msg/text/?『<%= @photo.title %>』写真で繋がるSNS totte" rel="nofollow" target="_blank">
				<i class="fab fa-line fa-3x"></i>
			</a>
		</div>


	</div>
	<div class="photos-index">

	</div>
	<div class="user-details">
		<div class="">
			<%= link_to user_path(@user), title: "My Photos" do %>
				<%= attachment_image_tag @user, :thumbnail, fallback: 'user_preset_image.png', class: "user-icon-circle" %>
			<% end %>
		</div>
		<div class="user-info-box">
			<h2><%= @user.nickname %></h2>
			<h3 class="user-name">
				<p class="laptop-name"><%= @user.first_name %> <%= @user.last_name %></p>
				<p class="responsive-name"><%= @user.nickname %></p>
			</h3>
			<div class="user-join-year">
				<font color="gray">Joined in <%= @user.created_at.strftime('%Y') %></font>
			</div>
		</div>
		<div class="table-box">
			<table>
				<thead>
					<tr>
						<th>投稿枚数</th>
						<th>アルバム投稿数</th>
						<th>いいねした数</th>
						<th>いいねされた数</th>
						<th>フォロー数</th>
						<th>フォロワー数</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @photo_cnt %></td>
						<td><%= @user.albums.count %></td>
						<td><%= @user.likes.count %></td>
						<td><%= @user.photos.pluck(:like_count).sum %></td>
						<td><%= @user.follow_count %></td>
						<td><%= @user.followers_count %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- レスポンシブ時出現-->
		<div class="responsive-table-box">
			<div style="margin-left:10px;">
				<div>投稿枚数 <%= @photo_cnt %></div>
				<div>アルバム投稿数 <%= @user.albums.count %></div>
				<div>いいねした数 <%= @user.likes.count %></div>
				<div>いいねされた数 <%= @user.photos.pluck(:like_count).sum %></div>
				<div>フォロワー数 <%= @user.follow_count %></div>
				<div>フォロー数 <%= @user.followers_count %></div>
			</div>
		</div>
		<!-- レスポンシブここまで -->
	</div>
	<div class="photo-details">
		<div class="comments-box">
			<div class="ui comments">
				<!--- コメント投稿フォーム ---->
					<div class="ui reply tiny form">
					  <%= form_with model: @post_comment, url: photo_post_comments_path(@photo), id: "ajax" do |f| %>
					  <%= f.text_area :comment, placeholder: "コメント100文字以内", id:"text-memo" , class: "comment-form", minlength: 2, maxlength: 100 %>
						<button data-remote="true" type="submit" id="comment-button" class="ui purple labeled icon mini right floated button" style="margin-top:5px; display:none;"><i class="icon edit"></i> 送信 </button>
						<% end %>
					</div>
					<p>あと<span class="chara-count"></span>文字入力できます</p>

				<!-- コメント投稿フォームend -->
				<!-- 以下Ajax -->
				<div id ="ajax-comments" class="comments-scroll">
					<%= render 'photos/comments', user: @user, photo: @photo %>
				</div>
				<!-- Ajax end -->
			</div>
		</div>
		<div>
			<div align="center" style="margin: 15px 0 10px 10px; font-size:30px;">EXIF情報</div>
				<div class="some-wrapping-div">
  					<p align="center"><font color="#1e70bf" data-position="right center" id="exif-popup" size="2" style="border-bottom:solid 1px;cursor:pointer;">EXIF情報って何？</font></p>
				</div>
				<div class="ui custom popup"><b>Exchangeable image file format</b><br>
					（エクスチェンジャブル・イメージ・ファイル・フォーマット）は、富士フイルムが開発し、当時の日本電子工業振興協会 (JEIDA)で規格化された、写真用のメタデータを含む画像ファイルフォーマット。デジタルカメラの画像の保存に使われる。略称はExifで「エグジフ」（もしくは「イグジフ」）。
					<%= link_to "Exifとは - IT用語辞典 Weblio辞書", "https://www.weblio.jp/content/Exif", target: ["_blank"] %>
				</div>
			<div class="exif-contents-box">
				<div class="">
					<label><b>メーカー:</b></label>
					<span class="margins"><%= @make %></span><br>
					<label><b>機種名:</b></label>
					<span class="margins"><%= @model %></span><br>
					<label><b>レンズ:</b></label>
					<span class="margins"><%= @lens_spec %></span><br>
					<label><b>レンズメーカー:</b></label>
					<span class="margins"><%= @lens_make %></span><br>
					<label><b>レンズモデル:</b></label>
					<span class="margins"><%= @lens_model %></span><br>
					<label><b>ISO感度:</b></label>
					<span class="margins"><%= @iso %></span><br>
					<label><b>F値:</b></label>
					<span class="margins"><%= @f_number %></span><br>
					<label><b>撮影日:</b></label>
					<span class="margins"><%= @shooting%></span><br>
					<label><b>フラッシュ:</b></label>
					<span class="margins"><%= @camflash %></span><br>
					<label><b>写真サイズ:</b></label>
					<span class="margins"><%= @photo_size %></span><br>
					
					<label><b>シーンモード:</b></label>
					<span class="margins"><%= @scene_mode %></span><br>
				</div>
			</div>
		</div>

		<div class="mapping-box" style="margin-top:15px;">
			<div class="map-box">
				<% unless @lat.blank? && @lng.blank? %>
					<iframe src="https://maps.google.co.jp/maps?output=embed&q=原宿駅&q=<%= @lat %>,<%= @lng %>&hl=ja" style="width: 100%; height: 100%; border: none;border-radius:5px;"></iframe>
				<% else %>
					<div class="" style="text-align:center:width:100%;height:100%;background-color:gray;">
						<div style="text-align:center; padding-top:200px; font-size:30px;">sorry, no GPS data</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>

	// コメント文字数のリアルタイムカウント
$(function(){

    var text_max = 100; // 最大入力値
    $(".chara-count").text(text_max - $("#text-memo").val().length);

    $("#text-memo").on("keydown keyup keypress change",function(){
        var text_length = $(this).val().length;
        var countdown = text_max - text_length;
        $(".chara-count").text(countdown);
        // if(text_max = countdown){
        //     $('#comment-button').css({
        //           display: 'none'
        //     });
        // }
        if(countdown < 0){
            $('.chara-count').css({
                color:'#ff0000',
                fontWeight:'bold'
            });
        } else {
            $('.chara-count').css({
                color:'#000000',
                fontWeight:'normal'
            });
            if(text_length > 0){
              $('#comment-button').css({
                display:'inline-block'
              });
            }else{
              $('#comment-button').fadeOut(200);
            }
        }
    });
// コメントの送信ボタンを押した後のボタン非表示と文字数カウントリセット
    $('#comment-button').click(function(){
      $('#comment-button').fadeOut(200);
      $('.chara-count').text(text_max);
    })
});

	

	$('#exif-popup')
  .popup({
    popup : $('.custom.popup'),
    on    : 'click'
  })
;

</script>



