<title>MyPhotos#show</title>
<div class="main-box">
	<div class="photo-background">
		<div class="">
			<% if @photo.image == nil %>
				<div class="showpage-photo">ImageFile broken</div>
			<% else %>
				<%= attachment_image_tag @photo, :image, class: "showpage-photo"%>
			<% end %>
		</div>
		<% if @photo_cnt > 1 %>
			<% if @photo.pre %>
				<%= link_to user_photo_path(@user, @photo.pre) do %>
					<div class="photo-slide-left">
						<
					</div>
				<% end %>
			<% end %>
			<% if @photo.next %>
				<%= link_to user_photo_path(@user, @photo.next) do %>
					<div class="photo-slide-right">
						>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="photos-index">
		<div class="photo-block">
			img1
		</div>
		<div class="photo-block">
			img2
		</div>
		<div class="photo-block">
			img3
		</div>
	</div>
	<div class="user-details">
		<div class="">
			<%= attachment_image_tag current_user, :thumbnail,:fill,fallback: 'user_preset_image.png', class: "user-icon-circle" %>
		</div>
		<div class="user-info-box">
			<h2 class="user-nickname">
				<%= @user.nickname %>
			</h2>
			<h3 class="user-name">
				<p><%= @user.first_name %> <%= @user.last_name %></p>
			</h3>
			<div class="user-join-year">
				<font color="gray">Joined in <%= @user.created_at.strftime('%Y') %></font>
			</div>
		</div>
		<div class="table-box">
			<table>
				<thead>
					<tr>
						<th>写真</th>
						<th>アルバム</th>
						<th>いいね</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @photo_cnt %></td>
						<td><%= @user.albums.count %></td>
						<td><%= @user.likes.count %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="photo-details">
		<div class="comments-box">
			<div class="ui comments">
				<!-- コメント投稿フォーム ---->
				<% if @user == current_user %>
				<% else %>
					<div class="ui reply tiny form">
					  <%= form_with model: @post_comment, url: photo_post_comments_path(@photo), id: "ajax" do |f| %>
					  <%= f.text_area :comment, placeholder: "コメント100文字以内" %>
						<button data-remote="true" type="submit" class="ui purple labeled icon mini right floated button" style="margin-top:5px;"><i class="icon edit"></i> 送信 </button>
						<% end %>
					</div>
				<% end %>
				<!-- コメント投稿フォームend -->
				<h3 class="ui dividing header">Comments</h3>
				<!-- 以下Ajax -->
				<div id ="ajax-comments" class="comments-scroll">
					<%= render 'photos/comments', user: @user, photo: @photo %>
				</div>
				<!-- Ajax end -->
			</div>
		</div>
		<div class="exif-contents-box">
			<%= render 'exif_info' %>
		</div>

		<div class="mapping-box">
			<div class="map-box">
				<iframe src="https://maps.google.co.jp/maps?output=embed&q=原宿駅&q=35.670821,139.702726&hl=ja" style="width: 100%; height: 100%; border: none;border-radius:5px;"></iframe>
			</div>
		</div>
	</div>
</div>



