<h1>アルバム新規追加</h1>

<%= form_for(@album) do |f| %>
	<% if @album.errors.any? %>
    <div id="error_explanation">
	    <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

	    <ul>
		    <% @album.errors.full_messages.each do |message| %>
		    	<li><%= message %></li>
		    <% end %>
	    </ul>
    </div>



    <div class="field">
    	<%= f.label :thumbnail %>
    	<%= f.attachment_field :thumbnail, required: true %>
    </div>
    <div class="field">
    	<%= f.label :title %>
    	<%= f.text_field :title, required: true %>
    </div>
    <div class="field">
    	<%= f.label :introduction %>
    	<%= f.text_field :introduction, required: true %>
    </div>


    <div id="album_items" class="form_group">
    	<label>AlbumItems</label>
   <%= f.fields_for :album_items do |album_item| %>
    		<%= render 'album_item_fields', f: album_item, photos: @phots %>
    </div>
    <div class="add-links">
    	<%= link_to_add_association "Photo追加", f, :album_items %>
    </div>

    <div class="actions">
    	<%= f.submit %>
    </div>
	<% end %>