<title>Album Index</title>
<div class="main-box">
	<div class="main-visual">
		<img id="a-m-v" src="album-header99.jpg" class="header-image">
	</div>
	<%= render 'layouts/sub_header', photo: @photo %>
	<h2 align="center">All User Albums</h2>
	<div class="photo-contents-box" style="padding-bottom:200px;">
	<% if @albums.blank? || @albums.count == 1 && session[:album_id] != nil %>
		<div class="">
			<font size="6" color="gray">No Albums</font>
		</div>
	<% else %>
		<div class="ui special cards" style="justify-content: center;">
			<% @albums.each do |album| %>
				<% if album.album_items.count == 0 %>
				<% else %>
					<div class="card" style="margin:15px;filter: drop-shadow(3px 3px 5px gray);">
						<div class="blurring dimmable image">
							<div class="ui dimmer">
								<div class="content">
									<div class="center">
										<%= link_to user_album_path(album.user, album) do %>
										<div class="ui inverted violet button" style="filter:drop-shadow(3px 3px 1px gray);">詳細を見る</div>
										<% end %>
									</div>
								</div>
							</div>
							<!-- <img src="album-header7.jpg"> -->
							<%= attachment_image_tag album.album_items.first.photo, :image, style: "position:relative;" %>
						</div>
						<div class="content">
							<div>
								<%= link_to user_path(album.user) do %>
								<%= attachment_image_tag album.user, :thumbnail, fallback: 'user_preset_image.png', style: "width:40px;height:40px;object-fit:cover;", class: "ui avatar user-icon-background" %>
								<% end %>
								<span class="header" style="font-size:15px;"><%= album.title %></span>
							</div>
							<div class="meta">
								<div class="date" align="right"><%= album.created_at.strftime('%Y年%-m月%-d日') %>に作成</div>
								<div align="right">by <%= album.user.nickname %></div>
							</div>
						</div>
						<div class="extra content" style="display:flex;justify-content: space-between;">
							<div>
								<i class="large images outline icon"></i>アルバム枚数<%= album.album_items.count %>枚
							</div>
						</div>
					</div>
				<% end %>
			<% end %><!-- each end -->
		</div>
	<% end %>
	</div><!-- content-box end -->
</div>
<!-- ------------------------------------- -->
<script>
$(function() {
	$('.img').hover(
		function() {
			$(this).find($('.overlay-fillter')).fadeIn(200);
			//マウスカーソルが重なった時の処理
		},
		function() {
		//マウスカーソルが離れた時の処理
			$(this).find($('.overlay-fillter')).fadeOut(200);
		}
	);
});


$('.ui.sticky')
  .sticky({
    context: '#example1'
  });


$('.special.cards .image').dimmer({
  on: 'hover'
});


$('#a-m-v').fadeIn(2000);

</script>
