<header id="header-fixed" class="">
<% if user_signed_in? && current_user.photos.present? %>
	<div class="headline-box">
		<div class="headline-icons">
			<div class="">
				<%= link_to users_path do %>
					<img src="/assets/totte-logo.png" class="brand-logo">
				<% end %>
			</div>
		</div>
		<%= render 'notices/notice_info' %>
		<div class="ui icon top right pointing dropdown">
			<%= attachment_image_tag current_user, :thumbnail,:fill,fallback: 'user_preset_image.png', :size => "40x40", class: "headline-user-icon" %>
			<div class="menu" style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);padding-bottom:15px;">
				<div class="header" style="display: flex; flex-direction: row;">
					<%= attachment_image_tag user, :thumbnail,:fill,fallback: 'user_preset_image.png', :size => "40x40", class: "headline-user-icon" %>
					<div style="padding-top: 25px;font-size: 15px;margin-left:10px;"><%= current_user.nickname %></div>
					<div class="item">Joined in <%= current_user.created_at.strftime('%Y') %></div>
				</div>
				<div class="ui divider"></div>
				<div class="item">ユーザータイプ</div>
				<div class="ui divider"></div>
				<div class="header"><h4>Setting</h4></div>
				<div class="header">
					<%= link_to edit_user_registration_path do %>
						<div class="ui inverted purple right floated button" >
							プロフィール編集
						</div>
					<% end %>
				</div>
				<div class="header">
					<%= link_to destroy_user_session_path, class: "ui inverted secondary button", data: { confirm: "ログアウトします。よろしいですか？" }, method: :delete do %>
						Log out
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<div class="headline-box">
		<div class="headline-icons">
			<div class="">
			</div>
		</div>
	</div>
<% end %>
</header><!-- /header -->





<!-- モーダルview -->
<%#= render 'layouts/user_edit_modal', user: @user %>
<!-- <script>
	$('#profile-edit-button').click(function() {
  $('.ui.modal')
  .modal('show');
});
</script> -->