<div id="chaser">
	<div class="sub-header">
		<div class="subheader-contents" style="display:flex">

			<div class="ui compact menu" style="border-radius:none; border:none; box-shadow:none;">
		  		<div class="ui simple dropdown item sub-header-buttons">YOU
		  			<i class="dropdown icon"></i>
		  			<div class="menu">

		  				<%= link_to user_path(current_user), style: "color:black;" do %>
			  				<div class="item sub-header-buttons">
				      			My Photos
			      			</div>
		      			<% end %>

						<%= link_to user_albums_path(current_user), style: "color:black;" do %>
						<div class="item sub-header-buttons">
			      			 My Albums
		      			</div>
		      			<% end %>
	    			</div>
	  			</div>
			</div>

			<%= link_to users_path do %>
				<div class="sub-header-buttons" style="padding:20px;">
					<p>All Photos</p>
				</div>
			<% end %>

			<%= link_to my_albums_path do %>
				<div class="sub-header-buttons" style="padding:20px;">
					<p>All Albums</p>
				</div>
			<% end %>

			<div class="ui compact menu" style="border-radius:none; border:none; box-shadow:none;">
		  		<div class="ui simple dropdown item sub-header-buttons">
		  			Post
		  			<i class="dropdown icon"></i>
		  			<div class="menu">
		  				<div id="post-photo-modal">
		  					<div class="item sub-header-buttons">
			      				Post Photo
		      				</div>
		  				</div>
		      			<%= link_to new_my_album_path, style: "color:black;" do %>
							<div class="item sub-header-buttons">
				      			Post Album
			      			</div>
		      			<% end %>
	    			</div>
	  			</div>
			</div>

			<div class="ui compact menu" style="border-radius:none; border:none; box-shadow:none;">
		  		<div class="ui dropdown item sub-header-buttons">
		  			Your Activity
		  			<i class="dropdown icon"></i>
		  			<div class="menu" style="height:300px; overflow-y:auto;">
		  				<div class=" ui header" align="center">最近のアクティビティ</div>
			  			<%= render 'users/my_activity' %>
		  			</div>
	  			</div>
			</div>

			<div class="ui compact menu" style="border-radius:none; border:none; box-shadow:none;">
		  		<div class="ui dropdown item sub-header-buttons">
		  			<% unless current_user.follow_count == 0 %>
		  				<b><%= current_user.follow_count %> </b>
		  			<% end %>
		  			Follows
		  			<i class="dropdown icon"></i>
		  			<div class="menu" style="height:250px; overflow-y:auto;">
		  				<div class="ui header" align="center">あなたがフォローしているユーザー</div>
		  				<% if current_user.follow_count == 0 %>
			  				<div class="item">
			  					<font color="gray">フォローしているユーザーはいません</font>
			  				</div>
			  			<% else %>
			  				<%= render 'users/follower_index' %>
		  				<% end %>
		  			</div>
	  			</div>
			</div>

			<div class="ui compact menu" style="border-radius:none; border:none; box-shadow:none;">
		  		<div class="ui dropdown item sub-header-buttons">
		  			<% unless current_user.followers_count == 0 %>
		  				<b><%= current_user.followers_count %> </b>
		  			<% end %>
		  			Follower
		  			<i class="dropdown icon"></i>
		  			<div class="menu" style="height:250px; overflow-y: auto;">
		  				<div class="ui header" align="center">あなたをフォローしているユーザー</div>
		  				<% if current_user.followers_count == 0 %>
		  					<div class="item">
	  							<font color="gray">フォロワーはいません</font>
		  					</div>
		  				<% else %>
			  				<%= render 'users/followed_by_index' %>
		  				<% end %>
		  			</div>
	  			</div>
			</div>
		</div>
	</div>



	<div id="modal" class="ui mini modal" style="padding-bottom:10px;">
		<div class="header" align="center">写真投稿</div>
		<i class="close icon"></i>
		<div class="content">
  			<%= form_for photo, url: photos_path do |f| %>
  			<div class="">1. 写真を選択してください</div>
  			<%= f.label :image, "写真を選択", class: "ui purple fluid button" %>
			<%= f.attachment_field :image, style: "opacity:0;" %>
			<div class="ui form" style="margin: 10px auto;">
				<%= f.label :title, "2. 写真のタイトル決めましょう（２０文字以内）" %>
				<%= f.text_field :title, placeholder: "タイトル（２０文字以内）", class: "field", maxlength: "20"%>
			</div>
				<button type="submit" class="ui purple fluid button">投稿</button>
			<% end %>
		<div class="actions">
			<button class="ui deny secondary inverted button">戻る</button>
		</div>
	  </div>
	</div>
</div><!-- id end -->





<script>

	$('#post-photo-modal').click(function() {
		  $('#modal')
  			.modal('show');
	});

</script>

<script>
	$(function(){

	var nav = $('#chaser');
	var nav2 = $('.main-visual')

    // メニューのtop座標を取得する
    var offsetTop = nav.offset().top;

    var floatMenu = function() {
        // スクロール位置がメニューのtop座標を超えたら固定にする
        if ($(window).scrollTop() > 300) {
            nav.addClass('fixed');
            nav2.css('margin-bottom','80px');
        } else {
            nav.removeClass('fixed');
            nav2.css('margin-bottom','');
        }
    }
    $(window).scroll(floatMenu);
    $('body').bind('touchmove', floatMenu);

	});

</script>

<style>

.fixed {
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 1;
}
.padding {
	margin-bottom: 60px;
}

</style>







