<div class="sub-header">
	<div class="subheader-contents" style="display:flex">
		<%= link_to users_path do %>
		<div class="sub-header-buttons" style="padding:20px;">
			<p>All Photos</p>
		</div>
		<% end %>
		<%= link_to my_albums_path do %>
		<div class="sub-header-buttons" style="padding:20px;">
			<p>All Albums</p>
		</div>
		<% end %>

		<div class="ui compact menu sub-header-buttons" style="border-radius:none; border:none; box-shadow:none;">
	  		<div class="ui simple dropdown item">About YOU
	  			<div class="menu">
	  				<div class="item">
		      			<%= link_to user_path(current_user), style: "color:black;" do %>
		      			Your Photos
	      			<% end %>
	      			</div>

					<div class="item">
		      			<%= link_to user_albums_path(current_user), style: "color:black;" do %>
		      			 Your Albums
	      			<% end %>
	      			</div>
    			</div>
  			</div>
		</div>

		<div class="ui compact menu sub-header-buttons" style="border-radius:none; border:none; box-shadow:none;">
	  		<div class="ui simple dropdown item">
	  			Post
	  			<div class="menu">
					<div class="item">
		  				<%= link_to new_photo_path, style: "color:black;" do %>
		      			Post Photo
		      			<% end %>
	      			</div>
					<div class="item">
		      			<%= link_to new_my_album_path, style: "color:black;" do %>
		      			Post Album
		      			<% end %>
	      			</div>
    			</div>
  			</div>
		</div>
	</div>
</div>