<!DOCTYPE html>
<html>
  <head>
    <title>Totte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- <script src="jquery.js"></script> -->
    <!-- <script src="jquery.infinitescroll.min.js"></script> -->
  </head>

  <body>
  <header id="header-fixed" class="">
  <% if admin_signed_in? %>
  <div class="">
    管理者でログイン中
  </div>
  <div class="">
    <%= link_to destroy_admin_session_path, method: :delete do %>
      <div class="">
        サインアウト
      </div>
    <% end %>
  </div>

  <% else %>

    <% if user_signed_in? && current_user.photos.present? %>
      <div class="headline-box">
        <div class="headline-icons">
          <div class="">
            <%= link_to users_path do %>
              <img src="/assets/totte-logo.png" class="brand-logo">
            <% end %>
          </div>
        </div>

  <!-- 検索フォームここから -->
        <div style="display:flex; justify-content:space-between; width:350px;">
          <div class="ui tiny search" style="margin: auto;">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder= "ニックネームで検索">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
  <!-- 検索フォームend -->
  <!-- お知らせアイコンここから -->
          <% if current_user.notices.where(read: false).count > 0 %>
            <span class="ui red circular label" style="position:relative; width:10px; height:10px; right:-20px;">
              <%= current_user.notices.where(read: false).count %>
            </span>
          <% end %>
          <div class="ui icon left top pointing dropdown" style="margin: auto;">
            <% if current_user.notices.where(read: false).count > 0 %>
              <div id="test" class=""><span><i class="bell big icon"></i></span></div>
            <% else %>
              <div class=""><span><i class="bell outline big icon"></i></span></div>
            <% end %>

            <div class="menu">
              <div class="ui message">
                <% unless current_user.notices.where(read: false).count > 0 %>
                  <div class="header" align="center"><i class="bell outline icon"></i>お知らせ</div>
                <% else %>
                  <div class="header" align="center"><i class="bell outline icon"></i>新着お知らせ<b><%= current_user.notices.where(read: false).count %></b>件</div>
                <% end %>
                <%= render 'notices/notice_info', notices: current_user.notices %>
              </div>
            </div>
          </div>
  <!-- お知らせアイコンここまで -->
  <!-- ドロップダウンアイコンここから -->
          <div class="ui icon top right pointing dropdown">
              <%= attachment_image_tag current_user, :thumbnail, fallback: 'user_preset_image.png', :size => "40x40", class: "headline-user-icon" %>
            <div class="menu" style="box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);padding-bottom:15px;">
              <div class="header" style="display: flex; flex-direction: row;">
                <%= link_to user_path(current_user) do %>
                  <%= attachment_image_tag current_user, :thumbnail, fallback: 'user_preset_image.png', :size => "40x40", class: "headline-user-icon" %>
                <% end %>
                <div style="padding-top: 25px;font-size: 15px;margin-left:10px;"><%= current_user.nickname %></div>
                <div class="item">User Infomation</div>
              </div>
              <div class="ui divider"></div>
              <div class="header" align="center"><h4>Setting</h4></div>
              <div class="header">
                <%= link_to edit_user_path(current_user) do %>
                  <div class="ui inverted purple fluid button" style="margin-bottom: 10px;">
                    プロフィール編集
                  </div>
                <% end %>
              </div>
              <% if session[:album_id] != nil %>
                <div class="header">
                  <button id="modal-confirm" class="ui inverted secondary fluid tiny button" type="button">ログアウト</button>
                  <div class=" ui basic mini modal">
                    <div class="ui icon header">
                        <i class="ui icon fas fa-images fa-2x"></i>
                        作成中のアルバムがあります！
                    </div>
                    <div class="content">
                      <p align= "center">
                        このままログアウトすると、作成中のアルバムの内容が破棄されます。よろしいですか？
                      </p>
                    </div>
                    <div class="actions" align= "center">
                      <%= link_to new_my_album_path do %>
                      <div class="ui gray inverted inverted deny button">
                         確認する
                      </div>
                      <% end %>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                        <div class="ui purple ok inverted button">
                        ログアウト
                        </div>
                    <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="header">
                  <%= link_to destroy_user_session_path, class: "ui inverted secondary fluid tiny button", data: { confirm: "ログアウトします。よろしいですか？" }, method: :delete do %>
                  ログアウト
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
  <!-- ドロップダウンアイコンここまで -->
        </div>
      </div>
    <% else %>
      <div class="headline-box">
        <div class="headline-icons">
          <div class="">
          </div>
        </div>
      </div>
    <% end %><!-- if user_signed_in? end -->
  <% end %><!-- if admin_signed_in? end -->
  </header><!-- /header -->
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>



<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzZ0PKG68JfsiFmA2jrlBBUPXyjtrJqzU&callback=initMap"
  type="text/javascript"></script> -->
<script>

  var users =[
                <% User.all.each do |user| %>
                  <% unless user.nickname == nil %>
                    { title: '<%= attachment_image_tag user, :thumbnail, style: "width:20px;height:20px;border-radius:50%;object-fit:cover;"%>'+'<%= user.nickname.to_s %>' },
                  <% else %>
                    <% next %>
                  <% end %>
                <% end %>
              ];

  $('.ui.tiny.search').search({
    source: users,
    error : {
              source      : 'Cannot search. No source used, and Semantic API module was not included',
              noResults   : '該当ユーザーはいません',
              logging     : 'Error in debug logging, exiting.',
              noTemplate  : 'A valid template name was not specified.',
              serverError : 'There was an issue with querying the server.',
              maxResults  : 'Results must be an array to use maxResults setting',
              method      : 'The method you called is not defined.'
            }
  });





  $('.ui.dropdown')
  .dropdown();


  $('#modal-confirm').click(function(){
    $('.ui.basic.modal')
    .modal('show');
  });

  $('#test')
  .transition('bounce');


</script>

